<form method="post">
Tapez votre SIREN :
<input  type="text" name="siren" placeholder=""><br><br>
    <div data-udata-reuse="5881edd188ee3878679b81a6"></div>
    <script src="https://www.data.gouv.fr/static/oembed.js" async defer></script>
Tapez soit votre code APE, soit votre Secteur d’Activité, soit votre Métier :
<input type="text" name="ape" placeholder=""><br><br>

Tapez votre code postal :
<input  type="text" name="codepostal"><br><br>

Année de création de la société :<b style="color:#b626c3;"> *</b>
<input  type="text" name="anneecreation"><br><br>

Séléctionnez votre Forme Juridique :<b style="color:#b626c3;"> *</b>
<input  type="text" name="formejuridique"><br><br>

Sélectionnez CA 2018 :<b style="color:#b626c3;"> *</b>
<input  type="text" name="ca"><br><br>

Effectifs dans l'entreprise :
<select id="nbrsalaries">
    <option value="valeur1">1</option>
    <option value="valeur2" selected>2</option>
    <option value="valeur3">53</option>
</select><br><br>
    <input type="submit" value="Submit" name="obetenircomparatif">
</form>

